@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300);

*{
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
}

body{
	background: url(../assets/crossword.png);
}

#login-container{
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: url(../assets/crossword.png);
}

#login-container #login-image{
	position: fixed;
	top: -30px;
	left: -50px;
}

#login-container #login-image img{
	width: 700px;
	-ms-transform: rotate(30deg); /* IE 9 */
	-webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
	transform: rotate(30deg);
	-webkit-animation: myfirst .6s;
	-webkit-animation-timing-function: ease;
	animation: myfirst .6s;
	animation-timing-function: ease;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    from {margin: 500px -500px;}
    to {margin: 0;}
}

/* Standard syntax */
@keyframes myfirst {
	from {margin: 500px;}
    to {margin: 0;}
}

#login-container #login-form{
	width: 350px;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 200px 0 0 0;
	position: absolute;
	right: 250px;
}

#login-container #login-form #logo-cont{
	width: 100%;
	margin: 0 0 25px 0;
}

#login-container #login-form #logo-cont img{
	width: 100%;

}

#login-container #login-form #username, #login-container #login-form #password{
	width: 350px;
	font-size: 1.2em;
	padding: 10px 20px;
	border-radius: 100px;
	text-align: center;
	color: rgba(18,159,91,1);
	border: 1px solid rgba(18,159,91,.4);
	margin: 0 0 15px 0;
	background: rgba(0,0,0,0);
	transform: rotate(30deg);
	-webkit-animation: textlogin .6s;
	-webkit-animation-timing-function: ease;
	animation: textlogin .6s;
	animation-timing-function: ease;
}

#login-container #login-form #password{
	-webkit-animation: textlogin1 1.2s;
	-webkit-animation-timing-function: ease;
	animation: textlogin1 1.2s;
	animation-timing-function: ease;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes textlogin {
    from {margin: -20px 0; opacity: 0;}
    to {margin: 0; opacity: 1;}
}

/* Standard syntax */
@keyframes textlogin {
	from {margin: -20px 0; opacity: 0;}
    to {margin: 0; opacity: 1;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes textlogin1 {
    0% {margin: -20px 0; opacity: 0;}
    30% {margin: -20px 0; opacity: 0;}
    100% {margin: 0; opacity: 1;}
}

/* Standard syntax */
@keyframes textlogin1 {
	0% {margin: -20px 0; opacity: 0;}
    30% {margin: -20px 0; opacity: 0;}
    100% {margin: 0; opacity: 1;}
}



input:focus{
	outline: none
}

::-webkit-input-placeholder { color: rgba(18,159,91,1); }
::-moz-placeholder { color: rgba(18,159,91,1); } /* firefox 19+ */
:-ms-input-placeholder { color: rgba(18,159,91,1); } /* ie */
input:-moz-placeholder { color: rgba(18,159,91,1); }

#login-container #login-form input[type='submit']{
	width: 350px;
	padding: 10px 0;
	border: 0;
	background: #129f5b;
	font-size: 1.05em;
	color: white;
	text-align: center;
	border-radius: 100px;
	border: 1px solid #129f5b;
	-webkit-transition: all .3s; /* For Safari 3.1 to 6.0 */
	transition: all .3s;
	-webkit-animation: textlogin1 2s;
	-webkit-animation-timing-function: ease;
	animation: textlogin1 2s;
	animation-timing-function: ease;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes textlogin1 {
    0% {margin: -20px 0; opacity: 0;}
    40% {margin: -20px 0; opacity: 0;}
    100% {margin: 0; opacity: 1;}
}

/* Standard syntax */
@keyframes textlogin1 {
	0% {margin: -20px 0; opacity: 0;}
    40% {margin: -20px 0; opacity: 0;}
    100% {margin: 0; opacity: 1;}
}

#login-container #login-form input[type='submit']:hover{
	background: rgba(0,0,0,0);
	color: #129f5b;
	border: 1px solid #129f5b;
}


/*=============================================*/

#welcome-pet-container{
	width: 100%;
	height: 100%;
}

#welcome-pet-container .pet{
	height: 100%;
	width: 50%;
	float: left;
	text-align: center;
}

#welcome-pet-container .content{
	height: 100%;
	width: 50%;
	float: left;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #129f5b;
	padding: 200px 100px 0 20px;
}

#welcome-pet-container .content h1{
	text-decoration: none;
	font-weight: 300;
	font-size: 3em;
}

#welcome-pet-container .content input{
	margin: 30px 0 0 0;
	width: 300px;
	padding: 10px 0;
	border: 0;
	background: #129f5b;
	font-size: 1.2em;
	color: white;
	border-radius: 100px;
}

#welcome-pet-container .pet img{
	height: 100%;
}

#home-container{
	width: 100%;
	height: 100%;
	background: #129f5b;
	position: fixed;
	-webkit-transition: all .5s; /* For Safari 3.1 to 6.0 */
	transition: all .5s;
}

#home-container #selectpet-container{
	width: 700px;
	margin: 0 auto 0 auto;
	padding: 80px 0 0 0;
	color: white;
	text-align: center;
}

#home-container #selectpet-container .pet-name{
	font-size: 2.76em;
	letter-spacing: .1em;
}

#home-container #selectpet-container .pet-char{
	margin: 50px auto 0 auto;
}

#home-container #selectpet-container .pet-char .previous{
	float: left;	
	width: 175px;
	height: 400px;
}

#home-container #selectpet-container .pet-char .previous img{
	width: 60%;
	margin: 125px 0;
}

#home-container #selectpet-container .pet-char .container{
	float: left;
	width: 350px;
	height: 350px;
	border-radius: 100%;
	background: white;
	-webkit-animation: charselect .3s;
	-webkit-animation-timing-function: ease-out;
	animation: charselect .3s;
	animation-timing-function: ease-out;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes charselect {
    from {width:0;height:0;margin:175px;}
    to {width:350px;height:350px;margin:0;}
}

/* Standard syntax */
@keyframes charselect {
	from {width:0;height:0;margin:175px;}
    to {width:350px;height:350px;margin:0;}
}

#home-container #selectpet-container .pet-char .container img{
	margin: 12.5% 0;
	height: 75%;
}

#home-container #selectpet-container .pet-char .next{
	float: left;	
	width: 175px;
	height: 350px;
}

#home-container #selectpet-container .pet-char .next img{
	width: 60%;
	margin: 125px 0;
	transform:rotate(180deg);
	-ms-transform:rotate(180deg); /* IE 9 */
	-webkit-transform:rotate(180deg); /* Opera, Chrome, and Safari */
}



#home1-container{
	width: 100%;
	height: 100%;
	background: #129f5b;
	position: fixed;
	-webkit-transition: all .5s; /* For Safari 3.1 to 6.0 */
	transition: all .5s;
}

#charge{
	width: 100px;
	height: 100px;
	background: white;
	z-index: 9999;
	border: 10px solid #129f5b;
	position: absolute;
	top: 50%;
	right: 32%;
	border-radius: 100%;
	text-align: center;
	opacity: 0;
	-webkit-transition: all .5s; /* For Safari 3.1 to 6.0 */
	transition: all .5s;

}

#charge img{
	height: 100%;
}

#home1-container #pet-container{
	width: 600px;
	height: 100%;
	margin: 0 auto;
	-webkit-transition: all .5s; /* For Safari 3.1 to 6.0 */
	transition: all .5s;
}

#home1-container #pet-container .pet-name{
	padding: 50px 0 0 0;
	font-size: 3em;
	text-align: center;
	color: white;
}

#home1-container #pet-container .pet-char .container{
	margin: 40px auto 0 auto;
	width: 350px;
	height: 350px;
	text-align: center;
	border-radius: 100%;
	background: white;
}

#home1-container #pet-container .pet-char .container img{
	height: 100%;
}

#home1-container #pet-container .pet-health .health{
	width: 300px;
	height: 30px;
	background: transparent;
	margin: 40px auto 0 auto;
	border-radius: 100px;
	border: 1px solid white;
	overflow: hidden;
}

#home1-container #pet-container .pet-health .health div{
	width: 60%;
	background: white;
	height: 100%;
}

#home1-container #pet-container .pet-day{
	text-align: center;
	margin: 15px auto 0 auto;
	color: white;
	font-size: 1.7em;
}





.selectpet-btn input{
	width: 300px;
	padding: 10px 0;
	border: 1px solid white;
	border-radius: 100px;
	font-size: 1.2em;
	background: rgba(0,0,0,0);
	color: white;
	margin: -15px 0 0 0;
	-webkit-transition: all .3s; /* For Safari 3.1 to 6.0 */
	transition: all .3s;
}

.selectpet-btn input:hover{
	background: white;
	color: #129f5b;
}

#namepet-container{
	width: 100%;
	height: 100%;
	position: fixed;
}

#namepet-container .box{
	width: 450px;
	height: 250px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -125px -225px;
	background: white;
	box-shadow: 0 0 30px rgba(0,0,0,.1);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 30px;
	text-align: center;
}

#namepet-container .box p.nameme{
	font-size: 4em;
	color: #129f5b;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
}

#namepet-container .box input[type="text"]{
	width: 300px;
	font-size: 1.2em;
	padding: 10px 20px;
	border-radius: 100px;
	text-align: center;
	color: rgba(18,159,91,1);
	border: 1px solid rgba(18,159,91,.4);
	margin: 0 0 10px 0;
	background: rgba(0,0,0,0);
}

#namepet-container .box input[type="submit"]{
	width: 300px;
	font-size: 1.2em;
	padding: 10px 20px;
	border-radius: 100px;
	text-align: center;
	color: white;
	border: 1px solid #129f5b;
	margin: 0 0 15px 0;
	background: #129f5b;
}

#namepet-container .box input[type="submit"]:hover{
	background: #109253;
}

#sidenav{
	width: 400px;
	height: 100%;
	background: rgba(16,97,58,.8);
	position: fixed;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 50px 0 0 0;
	left: -400px;
	z-index: 99999;
	-webkit-transition: all .3s; /* For Safari 3.1 to 6.0 */
	transition: all .3s;
}

#sidenav .profilepic{
	width: 200px;
	height: 200px;
	background: white;
	border-radius: 100%;
	border: 10px solid rgba(16,97,58,1);
	margin: 0 auto;
}

#sidenav .username{
	color: white;
	font-size: 2em;
	text-align: center;
	margin: 15px 0 0 0;
}

#sidenav ul{
	list-style: none;
	margin: 15px 0 0 0;
}

#sidenav ul li{
	width: 100%;
	padding: 15px 0;
	background: rgba(0,0,0,.05);
	color: white;
	font-size: 1.3em;
	text-align: center;
}

#sidenav ul li:hover{
	background: white;
	color: black;
}

#dashboard-container{
	width: 100%;
	height: 100%;
	background: #129f5b;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}

#dashboard-container .menubtn{
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 2;
}

#dashboard-container .menubtn img{
	width: 40px;
	cursor: pointer;
}

#dashboard-container #pet-container{
	width: 400px;
	height: 100%;
	background: rgba(0,0,0,.1);
	position: fixed;
	right: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 100px 0;
}

#dashboard-container #pet-container .pet-name{
	font-size: 2.5em;
	letter-spacing: 0.1em;
	text-align: center;
	color: white;
}

#dashboard-container #pet-container .pet-char{
	background: white;
	border-radius: 100%;
	width: 300px;
	height: 300px;
	margin: 20px auto 0 auto;
	text-align: center;
}

#dashboard-container #pet-container .pet-char img{
	height: 100%;
	margin: 0 auto;
}

#dashboard-container #pet-container .pet-health .health{
	width: 300px;
	height: 30px;
	background: transparent;
	margin: 40px auto 0 auto;
	border-radius: 100px;
	border: 1px solid white;
}

#dashboard-container #pet-container .pet-day{
	text-align: center;
	margin: 15px auto 0 auto;
	color: white;
	font-size: 1.7em;
}

#dashboard-container #dashboard{
	padding: 90px 30px;
}

#dashboard-container .achievements-cont{
	width: 850px;
	border: 1px solid white;
	height: 300px;
	border-radius: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 20px 30px;
}

#dashboard-container .achievements-cont h1, #dashboard-container .notifications-cont h1, #dashboard-container .minigames-cont h1{
	color: white;
	letter-spacing: 0.1em;
	font-weight: 300;
	text-decoration: none;
}

#dashboard-container .notifications-cont{
	float: left;
	width: 500px;
	height: 250px;
	border: 1px solid white;
	border-radius: 15px;
	margin: 15px 0 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 20px 30px;
}

#dashboard-container .minigames-cont{
	float: left;
	width: 335px;
	height: 250px;
	border: 1px solid white;
	border-radius: 15px;
	margin: 15px 0 0 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 20px 30px;
}

#quiz-container{
	background: #129f5b;
	width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 30px 0 0 0;
}

#quiz-container .quiz-header{
	font-size: 2em;
	color: white;
	text-align: center;
}

#quiz-container .quiz-header .quiz-name{
	font-size: .7em;
}

#quiz-container .quiz-header .quiz-howtoplay input{
	border-radius: 5px;
	width: 200px;
	padding: 10px 0;
	border: 0;
	color: rgba(255,255,255,.5);
	font-size: .5em;
	background: #12864e;
}

#quiz-container .quiz-question-cont{
	width: 80%;
	height: 400px;
	border: 1px solid white;
	border-radius: 20px;
	margin: 50px auto 0 auto;
	overflow: hidden;
}

#quiz-container .quiz-question-cont .question-counter{
	float: left;
	color: white;
	font-size: 1.3em;
	padding: 15px 0 0 15px;
}

#quiz-container .quiz-question-cont .question-timer{
	float: right;
	color: white;
	font-size: 1.3em;
	padding: 15px 15px 0 0;
}

#quiz-container .quiz-question-cont .question-question{
	font-size: 2.5em;
	color: white;
	text-align: center;
	margin: 35px 0 0 0;
	padding: 0 20px;
	height: 250px;
}

#quiz-container .quiz-question-cont .button-cont{
	width: 100%;
	height: 73px;
}

#quiz-container .quiz-question-cont .button-cont .true, #quiz-container .quiz-question-cont .button-cont .false{
	width: 50%;
	text-align: center;
	line-height: 73px;
	font-size: 1.7em;
	letter-spacing: .4em;
	height: 100%;
	background: white;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #129f5b;
}

#quiz-container .quiz-question-cont .button-cont .true:hover, #quiz-container .quiz-question-cont .button-cont .false :hover{
	background: #dddddd;
}

#quiz-container .quiz-question-cont .button-cont .true{
	border-right: 1px solid #129f5b;
}

#quiz-container .quiz-question-cont .button-cont .false{
	border-left: 1px solid #129f5b;
}

#days-container img#whole{
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 1;
}

#days-container img#leaf1{
	width: 400px;
	position: absolute;
	top: 4550px;
	left: 220px;
	z-index: 1;
	cursor: pointer;
}

#days-container img#leaf2{
	width: 400px;
	position: absolute;
	top: 3850px;
	left: 90px;
	z-index: 1;
	cursor: pointer;
}

#days-container img#leaf3{
	width: 500px;
	position: absolute;
	top: 3650px;
	left: 800px;
	z-index: 1;
	cursor: pointer;
}

#days-container img#leaf4{
	width: 500px;
	position: absolute;
	top: 3200px;
	left: 240px;
	z-index: 1;
	cursor: pointer;
}

#days-container img#leaf5{
	width: 550px;
	position: absolute;
	top: 2900px;
	left: 350px;
	z-index: 1;
	cursor: pointer;
}

#days-container img#leaf6{
	width: 250px;
	position: absolute;
	top: 3400px;
	left: 820px;
	z-index: 1;
	-ms-transform: rotate(50deg); /* IE 9 */
	-webkit-transform: rotate(50deg); /* Chrome, Safari, Opera */
	transform: rotate(50deg);
}

#days-container img.disabled{

}

#days-container #yourpet{
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 250px;
	height: 250px;
	background: white;
	border: 10px solid rgba(0,0,0,.1);
	border-radius: 100%;
	text-align: center;
	z-index: 999;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#days-container #yourpet img{
	height: 100%;
}

#days-container #leaf1-modal{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 999999;
	display: none;
}

#days-container #leaf1-modal .mask{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 999;
}

#days-container #leaf1-modal .box{
	width: 800px;
	height: 350px;
	background: white;
	position: absolute;
	top: 50%;
	left: 50%;
	box-shadow: 0 0 50px rgba(0,0,0,.1);
	margin: -175px 0 0 -400px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 20px;
	font-size: 5em;
	text-align: center;
	color: #129f5b;
	z-index: 99999;
}

.menubtn{
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 2;
}

.menubtn img{
	width: 40px;
	cursor: pointer;
}


.clear{
	float: none;
	clear: both;
}

::-webkit-scrollbar {
    width: 5px;
	height: 5px;
}
::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,.1);
} 
::-webkit-scrollbar-thumb {
    background-color: #555555;
	border-radius: 5px;
} 
::-webkit-scrollbar-button {
    background-color: black
	width: 0px;
	height: 0px;
}
::-webkit-scrollbar-corner {
    background-color: black;
}



@media (max-width: 980px) {

}
